CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
firmware/stm32g4-fdcan-fw/prj/stm32cubeide/Debug/
software/fdcan-loader/build/
firmware/stm32g4-fdcan-fw/build/
firmware/stm32g4-fdcan-fw/prj/stm32cubeide/.settings/language.settings.xml
